<app-navbar></app-navbar>

<div class="background d-flex justify-content-center align-items-center">

    <div class="row p-5 m-0">

        <div class="mx-auto d-flex justify-content-center">

            <div class="card text-center glass text-light" style="min-width: 25rem;">
                <div class="card-body">

                    <div class="row d-flex justify-content-center">

                        <h3 class="m-3">Cadastrar Empresa</h3>

                        <div class="col-md-10 mb-3 pb-2 text-start">

                            <label for="nome">Nome Fantasia</label>
                            <input [(ngModel)]="empresa.nome" type="text" class="form-control" id="nome"
                                placeholder="Digite o Nome">

                            <label for="cnpj">CNPJ</label>
                            <input [(ngModel)]="empresa.cnpj" class="form-control mb-2" type="text" name="cnpj"
                                id="cnpj" placeholder="Insira o CNPJ" [mask]="'CPF_CNPJ'">

                            <label for="email">E-mail</label>
                            <input [(ngModel)]="empresa.email" type="text" class="form-control" id="email"
                                placeholder="colaborador@email.com">

                            <label for="foto">Logo</label>
                            <input [(ngModel)]="empresa.foto" class="form-control mb-2" type="text" name="foto"
                                id="foto" value="https://i.imgur.com/A6fhZb6.jpg" placeholder="(Link da foto).png ou .jpeg">

                            <label for="telefone">Telefone</label>
                            <input [(ngModel)]="empresa.telefone" type="text" class="form-control" id="telefone"
                                placeholder="(00) 00000 0000" [mask]="'(00) 00000-0000'">

                            <label for="endereco">Endereço</label>
                            <input [(ngModel)]="empresa.endereco" class="form-control mb-2" type="text" name="endereco"
                                id="endereco" placeholder="Insira o endereço">


                        </div>

                        <hr>

                    </div>

                    <div class="d-flex justify-content-center m-1">
                        <a routerLink="/mainpage" type="submit" class="btn btn-outline-info me-3"
                            routerLink="/mainpage">Cancelar</a>
                        <a type="submit" class="btn btn-info" (click)='cadastrar()'>Cadastrar</a>
                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

<div class="container d-flex justify-content-center text-center bg-blue text-light "
    style="min-width: 100%; border-bottom: 2px; border-color: white;">

    <div class="row mt-5">

        <div class="row mt-2 mb-5">

            <div class="table-responsive card  bg-dark p-0 border" style="border-radius: 15px; min-width: 160vh;">

                <div class="card-header">
                    <h2>
                        Empresas Cadastradas
                    </h2>
                </div>

                <table class="table table-dark table-hover table-bordered table-sm">

                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Logo</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Gerenciar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let empresa of listaEmpresas">
                            <th>{{empresa.id}}</th>
                            <th><img src="{{empresa.foto}}" alt="user pfp" class="userpfp navpfp ms-3" /></th>
                            <td>{{empresa.cnpj}}</td>
                            <td>{{empresa.nome}}</td>
                            <td>{{empresa.telefone}}</td>
                            <td>{{empresa.endereco}}</td>
                            <td class="d-flex justify-content-center text-center">

                                <button class="btn btn-info me-1" [routerLink]="['/empresa-edit', empresa.id]" >Editar</button>
                                <button class="btn btn-outline-info" [routerLink]="['/empresa-delete', empresa.id]" >Apagar</button>

                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>