<!-- Footer -->
<footer class="text-center text-lg-start bg-blue text-light" id="footer">

    <section class="d-flex justify-content-center p-0">
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">

                <div class="col-md-3 mb-4">

                    <img src="https://i.imgur.com/DrIFLbL.png" alt="">

                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4
                ">

                    <h4 class="fw-bold ms-auto pb-2">
                        CONTATO
                    </h4>

                    <div class="d-flex justify-content-center border" style="border-radius: 20px;">

                        <a href="https://www.facebook.com/Sx-Company-119880159406840/" target="_blank" class="me-4">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/sxgrupo/" target="_blank" class="me-4 link-grayish">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/grupo-sx/?trk=ppro_cprof&originalSubdomain=br"
                            target="_blank" class="me-4 link-grayish">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/vbersano" target="_blank" class="link-grayish">
                            <i class="fa fa-github"></i>
                        </a>

                    </div>

                    <div>

                        <h4 class="fw-bold ms-auto pt-4">
                            REPOSITÓRIOS
                        </h4>

                        <h4 class="fw-bold ms-auto pt-4">
                            <a href="https://github.com/vbersano/sxgroupchallenge-backend" target="_blank">CÓDIGO
                                BACKEND</a>
                        </h4>

                        <h4 class="fw-bold ms-auto pt-4">
                            <a href="https://github.com/vbersano/sxgroupchallenge-frontend" target="_blank">CÓDIGO
                                FRONTEND</a>
                        </h4>
                    </div>


                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center pt-3 border-top fw-bold d-flex justify-content-center" style="font-size: 15px;">
        <p>Feito com ♥ por <a href="https://www.linkedin.com/in/vinicius-bersano/" target="_blank">Vinicius Bersano Oliveira</a> </p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->