
.fa {
    font-size: 18pt;
    color: whitesmoke;
    padding: 10px;
}

.fa:hover {
    color: #282828;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}