<app-navbar></app-navbar>

<div class="background d-flex justify-content-center align-items-center text-light border-bottom border-info"
    style="border: 2px;">

    <div class="container-fluid">

        <div class="row m-5">

            <div class="row">
                <div class="col-md-6">

                    <div class="card glass" style="width: 25rem;">
                        <div class="card-body text-center">
                            <h1 class="fs-54">Seja <a class="text-info">bem-vind@</a> !</h1>

                            <img src="{{foto}}" alt="user pfp" class="userpfp navpfp pt-2" />

                            <h5 class="fs-54 pt-2">{{nome}}</h5>
                            <h5 class="fw-400 ">SX Group <a class="text-info">HR Manager</a>.</h5>

                            <div class="pt-2 w-100">
                                <a type="button" class="btn btn-info mt-1" style="width: 15rem;" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Cadastrar
                                    Colaboradores</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</div>

<div class="container" id="empresas">


</div>


<!-- Modal Cadastrar Colaborador -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cadastrar Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <label for="nome">Nome</label>
                    <input [(ngModel)]="colaborador.nome" type="text" class="form-control" id="nome"
                        placeholder="Digite o Nome">

                    <label for="cpf">CPF</label>
                    <input [(ngModel)]="colaborador.cpf" type="text" class="form-control" id="cpf"
                        placeholder="000.000.000-00" [mask]="'CPF_CNPJ'" />

                    <label for="email">E-mail</label>
                    <input [(ngModel)]="colaborador.email" type="text" class="form-control" id="email"
                        placeholder="colaborador@email.com">

                    <label for="foto">Link da foto</label>
                    <input [(ngModel)]="colaborador.foto" class="form-control mb-2" type="text" name="foto" id="foto"
                        value="https://i.imgur.com/A6fhZb6.jpg" placeholder="Link da foto">

                    <label for="telefone">Telefone</label>
                    <input [(ngModel)]="colaborador.telefone" type="text" class="form-control" id="telefone"
                        placeholder="(00) 00000 0000" [mask]="'(00) 00000-0000'">

                    <label for="endereco">Endereço</label>
                    <input [(ngModel)]="colaborador.endereco" type="text" class="form-control" id="endereco"
                        placeholder="Insira o endereco">

                    <div class="form-group">
                        <label for="empresa">Selecione a Empresa, ou <button type="button" class="btn btn-link pb-2"
                                data-bs-dismiss="modal" routerLink="/empresa">Cadastre uma nova empresa</button>
                            !</label>

                        <select class="form-control" name="empresa" id="empresa" [(ngModel)]='idEmpresa'
                            (change)="findByIdEmpresa()">
                            <option *ngFor="let empresa of listaEmpresas" value="{{empresa.id}}"> {{empresa.nome}}
                            </option>
                        </select>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal"
                    (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cadastrar Colaborador -->

<div class="container border-info  justify-content-center text-center bg-dark text-light pt-0 p-5"
    style="min-width: 100%;" id="empresas">

    <h1 class="p-3 bg-blue" style="border-end-start-radius: 20px ; border-end-end-radius: 20px">Empresas Cadastradas
    </h1>

    <div class="d-flex justify-content-center w-100 flex-wrap pt-3">

        <div class="card bg-blue text-white border-info m-2 card-sq" *ngFor="let empresa of listaEmpresas">
            <img src="{{empresa.foto}}" class="card-img-top" alt="company logo">
            <div class="card-footer p-1 text-center">

                <a type="button" class="btn btn-outline-light card-title m-0" style="max-width: 170px;"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="findByIdEmpresa()">
                    {{empresa.nome}} </a>


            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Base de Dados - Colaboradores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <table class="table table-dark table-hover table-bordered table-sm">

                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Gerenciar</th>

                        </tr>
                    </thead>

                    <tbody *ngFor='let empresa of listaEmpresas'>
                        <tr class="text-center align-items-center" *ngFor='let item of empresa.colaborador'>



                            <th>{{item.id}}</th>
                            <th><img src="{{item.foto}}" alt="user pfp" class="userpfp" /></th>
                            <td>{{item.nome}}</td>
                            <td>{{item.cpf}}</td>
                            <td>{{empresa.nome}}</td>
                            <td>{{item.telefone}}</td>
                            <td>{{item.endereco}}</td>
                            <td class="d-flex justify-content-center text-center">

                                <button [routerLink]="['/colaborador-edit', item.id]" class="btn btn-info me-1"
                                    data-bs-dismiss="modal">Editar</button>
                                <button [routerLink]="['/colaborador-delete', item.id]" class="btn btn-outline-info"
                                    data-bs-dismiss="modal">Apagar</button>

                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>