<nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark d-flex align-items-center" style="height: 70px;">
    <div class="container-fluid">

        <div class="ms-4">

            <a routerLink="/mainpage"><img src="https://i.imgur.com/2QQlh1W.png" alt="sx group logo"
                    class="logo me-4" /></a>

        </div>

        <div class="ml-auto fw-700 me-4">

            <button class="navbar-toggler ms-auto justify-content-end" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">

                <div class="dropdown-center">

                    <i class="fa-solid fa-person-through-window"></i>

                    <div class="btn-group dropstart text-blue p-2">

                        <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">{{nome}}</a>

                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Editar perfil <i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i>
                                </a></li>

                            <li><a class="dropdown-item" href="https://www.sxgrupo.com.br/contact"
                                    target="_blank">Contate-nos <i class="fa fa-paper-plane-o" aria-hidden="true"></i>

                                </a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" (click)='sair()'>Sair <i class="fa fa-sign-out"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>

                    <img src="{{foto}}" alt="user pfp" class="userpfp navpfp ms-3" />

                </div>

            </div>

        </div>

    </div>
</nav>